<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Метал Трейд</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)



    <!-- Google Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- CSS Files -->


    <!--[if lt IE 9]>
        <script src="js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Content/spice-shopee/images/fav-144.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Content/spice-shopee/images/fav-114.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Content/spice-shopee/images/fav-72.html">
    <link rel="apple-touch-icon-precomposed" href="Content/spice-shopee/images/fav-57.html">
    <link rel="shortcut icon" href="Content/spice-shopee/images/fav.html">

</head>
<body>
    <!-- Header Section Starts -->
    <header id="header-area">
        <!-- Header Top Starts -->
        <div class="header-top">
            <div class="container">
                <!-- Header Links Starts -->
                <div class="col-md-12">
                    <div class="header-links">
                        @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#" class="fa fa-facebook-square"> Facebook</a></li>
                                    <li><a href="#" class="fa fa-twitter-square"> Twitter</a></li>
                                    <li><a href="#" class="fa fa-google-plus-square"> Goolge+</a></li>
                                    <li>
                                        @Html.ActionLink(" Администрация", "Index", "Products", new { area = "Administration" }, new { @class = "fa fa-cog" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Здравей " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    </li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Излез</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="nav navbar-nav pull-right">
                                <li><a href="#" class="fa fa-facebook-square"> Facebook</a></li>
                                <li><a href="#" class="fa fa-twitter-square"> Twitter</a></li>
                                <li><a href="#" class="fa fa-google-plus-square"> Goolge+</a></li>
                                <li>
                                    @Html.ActionLink(" Регистрация", "Register", "Account", new { area = "" }, new { @class = "fa fa-unlock" })
                                </li>
                                <li>
                                    @Html.ActionLink(" Влез", "Login", "Account", new { area = "" }, new { @class = "fa fa-lock" })

                                </li>
                            </ul>
                        }

                    </div>
                </div>
                <!-- Header Links Ends -->
            </div>
        </div>
        <!-- Header Top Ends -->
        <!-- Starts -->
        <div class="container">
            <!-- Main Header Starts -->
            <div class="main-header">
                <div class="row">
                    <!-- Logo Starts -->
                    <div class="col-md-9">
                        <div id="logo">
                            <a href="/"><img src="~../../../../Content/images/logo.jpg" title="Online Сапани" alt="Spice Shoppe" class="img-responsive" /></a>
                        </div>
                    </div>
                    <!-- Logo Starts -->
                    <!-- Search Starts -->
                    <div class="col-md-3">
                        <div id="search">
                            <div class="input-group">
                                <input id="searchbox" type="text" class="form-control input-lg" placeholder="Търси">
                                <span class="input-group-btn">
                                    <button class="btn btn-lg" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        @*<div class="autocomplete-row clearfix">
                            <a href="Products/Details/3"><img src="~/Uploads/1/1/2722738-5353872158-255660_detailsSmallThumb.jpg" /></a>
                            <a href="Products/Details/3" class="autocomplete-row-title">Сапан Едновъжен с 4 куки Ф 20 - 15 тона</a><br />
                            <p class="autocomplete-row-description ">Този сапан е подходящ за повдигане на дърва, асансьори и други тежки неща. Може да научите повече за това, което правим на следния адрес ...</p>
                        </div>*@
                    </div>
                    <!-- Search Ends -->
                </div>
            </div>
            <!-- Main Header Ends -->
            <!-- Main Menu Starts -->
            <nav id="main-menu" class="navbar" role="navigation">
                <!-- Nav Header Starts -->
                <div class="navbar-header">
                    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <!-- Nav Header Ends -->
                <!-- Navbar Cat collapse Starts -->
                <div class="collapse navbar-collapse navbar-cat-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Начало", "Index", "Home", new { area = string.Empty }, null)
                        </li>
                        <li class="dropdown">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Продукти</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    @if (ViewBag.LayoutModel != null)
                                    {
                                        foreach (var category in ViewBag.LayoutModel.Categories)
                                        {
                                            <ul class="list-unstyled">
                                                <li class="dropdown-header">@category.Name</li>
                                                @foreach (var subCategory in category.SubCategories)
                                                {
                                                    <li><a tabindex="-1" href="@Url.Action("Index", "Products", new { Category = category.Id, SubCategory = subCategory.Id })">@subCategory.Name</a></li>
                                                }
                                            </ul>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                        @if (ViewBag.LayoutModel != null)
                        {
                            foreach (var page in ViewBag.LayoutModel.Pages)
                            {
                                var pageId = page.Id.ToString();
                                <li>@Html.ActionLink((string)page.Title, (string)pageId, "Pages", new { area = string.Empty }, null)</li>
                            }
                        }
                        <li>@Html.ActionLink("За Нас", "About", "Home", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Контакти", "Contact", "Home", new { area = string.Empty }, null)</li>
                    </ul>
                </div>
                <!-- Navbar Cat collapse Ends -->
            </nav>
            <!-- Main Menu Ends -->
        </div>
        <!-- Ends -->
    </header>
    <!-- Header Section Ends -->
    <div id="main-container" class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
            <!-- Footer Section Starts -->
            <footer id="footer-area">
                <!-- Footer Links Starts -->
                <div class="footer-links">
                    <!-- Container Starts -->
                    <div class="container">
                        <!-- Information Links Starts -->
                        <div class="col-md-2 col-sm-6">
                            <h5>Информация</h5>
                            <ul>
                                <li><a href="about.html">За Нас</a></li>
                                <li><a href="#">Информация за доставка</a></li>
                                <li><a href="#">Условия за безопасност</a></li>
                            </ul>
                        </div>
                        <!-- Information Links Ends -->
                        <!-- My Account Links Starts -->
                        <div class="col-md-2 col-sm-6">
                            <h5>Информация</h5>
                            <ul>
                                <li><a href="#">Често задавани въпроси</a></li>
                                <li><a href="#">Нещо интересно</a></li>
                                <li><a href="#">Други</a></li>
                            </ul>
                        </div>
                        <!-- My Account Links Ends -->
                        <!-- Customer Service Links Starts -->
                        <div class="col-md-2 col-sm-6">
                            <h5>Услуги</h5>
                            <ul>
                                <li><a href="contact.html">Свържете се с нас</a></li>
                                <li><a href="#">Връщане на стока</a></li>
                                <li><a href="#">Карта на сайта</a></li>
                                <li><a href="#">Партньорство</a></li>
                                <li><a href="#">Специални поръчки</a></li>
                            </ul>
                        </div>
                        <!-- Customer Service Links Ends -->
                        <!-- Follow Us Links Starts -->
                        <div class="col-md-2 col-sm-6">
                            <h5>Следвайте ни</h5>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">RSS</a></li>
                                <li><a href="#">YouTube</a></li>
                            </ul>
                        </div>
                        <!-- Follow Us Links Ends -->
                        <!-- Contact Us Starts -->
                        <div class="col-md-4 col-sm-12 last">
                            <h5>Свържете се с нас</h5>
                            <ul>
                                <li>Метал Трейд</li>
                                <li>
                                    1247 София, бул. Г.М. Димитров № 55
                                </li>
                                <li>
                                    Email: <a href="#">info@metaltrade.com</a>
                                </li>
                            </ul>
                            <h4 class="lead">
                                Тел: <span> (+359 ) / 658 954</span>
                            </h4>
                        </div>
                        <!-- Contact Us Ends -->
                    </div>
                    <!-- Container Ends -->
                </div>
                <!-- Footer Links Ends -->
                <!-- Copyright Area Starts -->
                <div class="copyright">
                    <!-- Container Starts -->
                    <div class="container">
                        <!-- Starts -->
                        <p class="pull-left">
                            &nbsp; @DateTime.Now.Year Метал Трейд. Всички права запазени. Разработено от <a href="https://www.facebook.com/nzhul">nzhul</a>
                        </p>
                        <!-- Ends -->
                    </div>
                    <!-- Container Ends -->
                </div>
                <!-- Copyright Area Ends -->
            </footer>
            <!-- Footer Section Ends -->
            <!-- JavaScript Files -->


            @Scripts.Render("~/bundles/spice-shopee")
            @RenderSection("scripts", required: false)
    <script>
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
    <script>
    $(function () {
        $("#searchbox").autocomplete({
            minLength: 2,
            source: '@Url.Action("GetAutocomplete", "Products", new { Area = "" })',
        }).autocomplete("instance")._renderItem = function (ul, item) {
            console.log(item)
            return $("<li>")
                    .append("<div class='autocomplete-row clearfix'><a href='/Products/Details/" + item.Id + "'><img src='/" + item.IconUrl + "' /></a><a href='/Products/Details/" + item.Id + "' class='autocomplete-row-title'>" + item.Name + "</a><br /><div class='autocomplete-row-description '>" + item.Description + "</div></div>")
                    .appendTo(ul);
        };
    });
    </script>
</body>
</html>