@model Application.Web.Areas.Administration.InputModels.CreateProductInputModel
@{
    ViewBag.Title = "Добави продукт";
}

<div class="container">
    @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

		<!-- Registration Section Starts -->
    <h2 class="main-heading text-center">
        Добавяне на продукт <br />
    </h2>
    <hr />
    <section class="registration-area">
        <div class="row">
            <div class="col-sm-6">
                <!-- Registration Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Общи данни за продукта</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Registration Form Starts -->
                        <form class="form-horizontal" role="form">
                            <!-- Personal Information Starts -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Име" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ShortDescription, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control", placeholder = "Кратко описание на продукта" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-3 control-label">Email :</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFax" class="col-sm-3 control-label">Fax :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputFax" placeholder="Fax">
                                </div>
                            </div>
                            <!-- Personal Information Ends -->
                            <h3 class="panel-heading inner">
                                Delivery Information
                            </h3>
                            <!-- Delivery Information Starts -->
                            <div class="form-group">
                                <label for="inputCompany" class="col-sm-3 control-label">Company :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputCompany" placeholder="Company">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputCountry" class="col-sm-3 control-label">Country :</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="inputCountry">
                                        <option>- All Countries -</option>
                                        <option>India</option>
                                        <option>USA</option>
                                        <option>UK</option>
                                        <option>China</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Delivery Information Ends -->
                            <h3 class="panel-heading inner">
                                Password
                            </h3>
                            <!-- Password Area Starts -->
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-3 control-label">Password :</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRePassword" class="col-sm-3 control-label">Re-Password :</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputRePassword" placeholder="Re-Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-sm-3 control-label">Newsletter :</span>
                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Subscribe
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1">
                                            Unsubscribe
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> I'v read and agreed on Conditions
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-warning">
                                        Register
                                    </button>
                                </div>
                            </div>
                            <!-- Password Area Ends -->
                        </form>
                        <!-- Registration Form Starts -->
                    </div>
                </div>
                <!-- Registration Block Ends -->
            </div>
            <div class="col-sm-6">
                <!-- Guest Checkout Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Добави Снимки
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Все още няма качени снимки за този продукт!
                        </p>
                        <button class="btn btn-warning">As Guest</button>
                    </div>
                </div>
                <!-- Guest Checkout Panel Ends -->
            </div>
        </div>
    </section>
		<!-- Registration Section Ends -->
    }
</div>

