@model IEnumerable<Application.Web.Areas.Administration.Models.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Продукти";
}

<div class="container" id="event-container" style="margin-top:-20px;">
    <h3>@ViewBag.Title</h3>
    <div class="panel panel-info">
        <div class="panel-heading">Стоманени въжета > Асансьорни въжета</div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-picture"></span></th>
                        <th>Име</th>
                        <th>Категория</th>
                        <th><span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="top" title="" data-original-title="Активен: продукта е активен и е видим за всички потребители на сайта!"></span></th>
                        <th><span class="glyphicon glyphicon-bookmark" data-toggle="tooltip" data-placement="top" title="" data-original-title="Промоционален: Продукта ще се визуализира на началната страница!"></span></th>
                        <th><span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="top" title="" data-original-title="Датата на която е създаден продукта"></span> Дата</th>
                        <th><span class="glyphicon glyphicon-cog"></span> Редакция </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        var counter = i + 1;
                        var product = Model.ElementAt(i);
                        var productRowUiId = "product-row-" + product.Id;
                        var categoryDeleteModalHref = "#product-delete-modal-" + product.Id;
                        var categoryDeleteModalId = "product-delete-modal-" + product.Id;
                        var loadingElementId = "loading-element-" + product.Id;
                        var imageUrl = "/" + product.PrimaryImage.ImagePath + "_indexThumb." + product.PrimaryImage.ImageExtension;
                        <tr id="@productRowUiId">
                            <td>
                                <div class="glyphicon glyphicon-picture popup-ajax"></div>
                                <img src="@imageUrl" class="admin-hover-image" />
                            </td>
                            <td>@product.Name</td>
                            <td>@product.CategoryName</td>
                            <td>
                                @if (@product.IsActive)
                                {
                                    <span class="glyphicon glyphicon-check cursor-pointer"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-unchecked cursor-pointer"></span>
                                }
                            </td>
                            <td>
                                @if (@product.IsFeatured)
                                {
                                    <span class="glyphicon glyphicon-check cursor-pointer"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-unchecked cursor-pointer"></span>
                                }
                            </td>
                            <td><span class="label label-default">@Html.DisplayFor(x => product.DateAdded)</span></td>
                            <td>
                                <a href="#" title="Преглед" class="glyphicon glyphicon-file edit-btn"
                                   data-toggle="tooltip" data-placement="top"></a>
                                @Html.ActionLink(" ", "Edit", 
                                    new { id = product.Id }, 
                                    new { @class = "glyphicon glyphicon-edit edit-btn", 
                                            data_toggle = "tooltip", 
                                            data_placement = "top", 
                                            title = "Редакция" })
                                <a href="@categoryDeleteModalHref" title="Изтрии" class="glyphicon glyphicon-ban-circle edit-btn"
                                   data-toggle="modal" data-placement="top"></a>

                                <!-- Delete Modal -->
                                <div class="modal fade" id="@categoryDeleteModalId">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Моля потвърдете!</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p style="color:black;">Сигурни ли сте, че искате да изтриете <strong>продукт "@product.Name"</strong>  ? </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Неактивен</button>
                                                @Ajax.ActionLink("Изтрии!", "DeleteProduct", new { id = product.Id },
                                                new AjaxOptions
                                                {
                                                    InsertionMode = InsertionMode.Replace,
                                                    UpdateTargetId = productRowUiId,
                                                    HttpMethod = "Post",
                                                    LoadingElementId = loadingElementId,
                                                    OnFailure = "productDeleteFailure"
                                                }, new
                                                {
                                                    @id = productRowUiId + "-delete-btn",
                                                    @title = "Изтрии",
                                                    @class = "btn btn-danger deleteBtnConfirm"
                                                })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Modal End-->
                            </td>
                        </tr>
                        <tr id="@loadingElementId" class="list-group-item text-center" style="display:none;">
                            <td class="text-center">
                                <img src="~/Content/images/gif-load.gif" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Partial("_Pagination")
            @Html.ActionLink("Добави Продукт", "Create", "Products", new { area = "Administration" }, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function productDeleteFailure() {
            alert("Error deleting the product!");
        }

        $('#event-container').on('click', '.deleteBtnConfirm', function (e) {
            $theModalParent = $(this).parents('.modal');
            $theModalParent.modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        })

        $('.popup-ajax').on('mouseenter', function () {
            var target = $(this);
            target.next().css('visibility', 'visible');
        })
        $('.popup-ajax').on('mouseleave', function () {
            var target = $(this);
            target.next().css('visibility', 'hidden');
        })
    </script>
}