@model Application.Web.Models.ContactFormInputModel

@{
    ViewBag.Title = "Контакти";
}
<div class="container">
        <!-- Breadcrumb Starts -->
        <ol class="breadcrumb">
            <li><a href="/">Начало</a></li>
            <li class="active">Контакти</li>
        </ol>
        <!-- Breadcrumb Ends -->
        <!-- Main Heading Starts -->
        <h2 class="main-heading text-center">
            Свържете се с нас
        </h2>
        <!-- Main Heading Ends -->
        <!-- Google Map Starts -->
        <div id="map-wrapper" class="dark-container" style="border-color: #6e6d6d;">
            <div id="map-block">@*<img src="~/Content/images/map-sample.jpg" alt="Alternate Text" />*@</div>
        </div>
        <!-- Google Map Ends -->
        <!-- Starts -->
        <div class="row">
            <!-- Contact Details Starts -->
            <div class="col-sm-4">
                <div class="panel panel-smart dark-container">
                    <div class="panel-heading">
                        <h3 class="panel-title">Контакти</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled contact-details">
                            @*<li class="clearfix">
                                <i class="fa fa-home pull-left"></i>
                                <span class="pull-left">
                                   Метал Трейд <br />
                                    1247 София, бул. Г.М. Димитров № 55, <br />
                                    ет. 10 Вх. B
                                </span>
                            </li>*@
                            <li class="clearfix">
                                <i class="fa fa-phone pull-left"></i>
                                <span class="pull-left">
                                    GSM: 0896 893 295
                                </span>
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-envelope-o pull-left"></i>
                                <span class="pull-left">
                                    <a href="mailto:manager@onlinesapani.com?Subject=Запитване">manager@onlinesapani.com</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Contact Details Ends -->
            <!-- Contact Form Starts -->
            <div class="col-sm-8">
                <div class="panel panel-smart dark-container" id="form-anchor">
                    <div class="panel-heading">
                        <h3 class="panel-title">Изпратете ни съобщение</h3>
                    </div>
                    <div class="panel-body">
                        @using (Ajax.BeginForm("Contact", "Home", null, new AjaxOptions { UpdateTargetId = "result" },
                            new { @class = "form-horizontal", @id = "result" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Име" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Телефон" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Относно" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Съдържание" } })
                                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-warning text-uppercase">
                                        Изпрати
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Contact Form Ends -->
        </div>
        <!-- Ends -->
    </div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script src="~/Content/spice-shopee/js/map.js"></script>
}