@model Application.Web.Models.ProductsViewModel
@{
    ViewBag.Title = "Стоманени въжета, сапани, вериги, оградни мрежи, такелаж";
    ViewBag.MetaDescription = " Стоманени въжета, сапани, вериги, оградни мрежи, такелаж";
}

<div class="row">
    @Html.Partial("Home/_Slider")
</div>
<div class="row">
    <!-- 3 Column Banners Starts -->
    <div class="col3-banners">
        <div class="container">
            <ul class="row list-unstyled">
                <li class="col-sm-4">
                    <a href="http://onlinesapani.com/category/7/tovarozahvatni-saorajeniq"><img src="~/Content/images/banners/3col-banner1-new.jpg" alt="banners" class="img-responsive" /></a>
                </li>
                <li class="col-sm-4">
                    <a href="http://onlinesapani.com/Articles/Details/5"><img src="~/Content/images/banners/3col-banner2-new.jpg" alt="banners" class="img-responsive" /></a>
                </li>
                <li class="col-sm-4">
                    <a href="http://onlinesapani.com/Articles/Details/6"><img src="~/Content/images/banners/3col-banner3-new.jpg" alt="banners" class="img-responsive" /></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 3 Column Banners Ends -->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @if (ViewBag.LayoutModel.Categories != null)
            {
                @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
            }
            <div>
                <h3 class="side-heading">Новини: </h3>
                @Html.Partial("Home/_Articles", Model.Articles)
            </div>
        </div>
        <div class="col-md-9">
            <h3 class="side-heading">Най-популярни продукти:</h3>
            <div class="row">
                @Html.Partial("Home/_Products", Model.Products)
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ActionLink("Виж всички продукти", "Index", "Products",null, new { @class = "btn btn-warning" })
                    
                </div>
            </div>
        </div>
    </div>
</div>
