@model Application.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @*@Html.Partial("Home/_Slider")*@
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="side-heading">Категории:</h3>

            <div id="menu">
                <div class="list-group">
                    <a class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu">Стоманени въжета <span class="glyphicon glyphicon-th-large pull-right"></span></a>
                    <div id="sm" class="sublinks collapse">
                        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> С общо предназначение</a>
                        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> За пренапрегнати конструкции</a>
                    </div>
                    <a  class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">Сапани <span class="glyphicon glyphicon-th-large pull-right"></span></a>
                    <div id="sl" class="sublinks collapse">
                        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Сапани от стоманени въжета</a>
                        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Сапани от полиестерна тъкан</a>
                        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Верижни сапани</a>
                    </div>
                    <a  class="list-group-item">ANOTHER LINK ...</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h3 class="side-heading">Най-популярни продукти:</h3>
            <div class="row">
                @for (int i = 0; i < Model.Products.Count(); i++)
                {
                    var product = Model.Products.ElementAt(i);
                    var productThumbnail = product.PrimaryImage.ImagePath + "_indexThumb." + product.PrimaryImage.ImageExtension;
                    <div class="col-md-4">
                        <div class="product-col">
                            <img src="@productThumbnail" class="image" alt="Alternate Text" />
                            <div class="caption">
                                <h4>
                                    @Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, null)
                                </h4>
                                <div class="description">
                                    @Html.Raw(product.ShortDescription)
                                </div>
                                <div class="cart-button button-group" style="margin-top:-15px;">
                                    <a  class="btn btn-wishlist" data-original-title="Кагегория: @product.CategoryName">
                                        <i class="glyphicon glyphicon-th-large"></i>
                                    </a>
                                    <a href="Products/Details/1" type="button" class="btn btn-cart">
                                        Детайли
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    if (i > 0 && (i + 1) % 3 == 0)
                    {
                        @:</div>
                        @:<div class="row">
                    }
                }
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ActionLink("Виж всички продукти", "Index", "Products",null, new { @class = "btn btn-warning" })
                    
                </div>
            </div>
        </div>
    </div>
</div>
