@model Application.Web.Models.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
    var theProduct = Model.TheProduct;
}

<div class="container">
    <!-- Main Container Starts -->
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="/">Начало</a></li>
                    <li><a href="/Products">Продукти</a></li>
                    <li><a href="/Products?Category=@theProduct.Category.Id">@theProduct.Category.Name</a></li>
                    <li class="active">@theProduct.Name</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- Product Info Starts -->
                <div class="row product-info">
                    <!-- Left Starts -->
                    <div class="col-sm-5 images-block">
                        <p class="product-gallery-box">
                            @*@{
                                var primaryImage = @Model.Images.First(x => x.IsPrimary);
                                var imageUrl = "/"+primaryImage.ImagePath + "_detailsBigThumb." + primaryImage.ImageExtension;
                                var imageUrlBig = "/" + primaryImage.ImagePath + "_large." + primaryImage.ImageExtension;
                            }
                            <a href="@imageUrlBig" data-lightbox="product-images" data-title="@Model.Name"><img src="@imageUrl" alt="Image" class="img-responsive thumbnail" /></a>*@
                            @foreach (var thumbnail in @theProduct.Images)
                            {
                                string thumbnailUrl = "/" + thumbnail.ImagePath + "_detailsBigThumb.jpg";
                                string imageUrlBigNext = "/" + thumbnail.ImagePath + "_large.jpg";
                                string isPrimaryString = "";
                                if (thumbnailUrl.Contains("no-image") && @theProduct.Images.Count > 1)
                                {
                                    continue;
                                }
                                if (thumbnail.IsPrimary)
                                {
                                    isPrimaryString = "data-primary=primary";
                                }
                                <a href="@imageUrlBigNext" id="big-thumbnail-@thumbnail.Id" @isPrimaryString data-lightbox="product-images" style="display:none;"  data-title="@theProduct.Name"><img src="@thumbnailUrl" alt="Image" class="img-responsive thumbnail" /></a>
                            }
                        </p>
                        <ul class="list-unstyled list-inline">
                            @foreach (var thumbnail in @theProduct.Images)
                            {
                                string thumbnailUrl = "/" + thumbnail.ImagePath + "_detailsSmallThumb.jpg";
                                if (thumbnailUrl.Contains("no-image") && @theProduct.Images.Count > 1)
                                {
                                    continue;
                                }
                                <li>
                                    <img src="@thumbnailUrl" id="small-thumbnail-@thumbnail.Id" alt="Image" style="width:77px;cursor:pointer;" class="img-responsive thumbnail gallery-trigger" />
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Left Ends -->
                    <!-- Right Starts -->
                    <div class="col-sm-7 product-details">
                        <!-- Product Name Starts -->
                        <h2>@theProduct.Name</h2>
                        <!-- Product Name Ends -->
                        <hr />
                        <!-- Manufacturer Starts -->
                        @Html.Raw(theProduct.BulletsText)
                        @*<ul class="list-unstyled manufacturer">
                            <li>
                                <span class="emptyClassHack">Производител:</span> Metal Company LTD
                            </li>
                            <li><span class="emptyClassHack">Ширина на четката:</span> от 1200 до 2400 мм. (в зависимост от модела)</li>
                            <li><span class="emptyClassHack">Диаметър:</span> 600 мм</li>
                            <li><span class="emptyClassHack">Товароподемност:</span> 2,00 тона (в зависимост от модела)</li>
                            <li><span class="emptyClassHack">Дължина:</span> 2 метра</li>
                            <li><span class="emptyClassHack">Тегло:</span> 5 гр</li>
                            <li>
                                <span class="emptyClassHack">Налични:</span> <strong class="label label-success">На склад</strong>
                            </li>
                        </ul>*@
                        <!-- Manufacturer Ends -->
                        <hr />
                        <!-- Available Options Starts -->
                        <div class="options">
                            <div class="form-group">
                                Тагове:
                                @if (theProduct.Tags.Count > 0)
                                {
                                    foreach (var tag in theProduct.Tags)
                                    {
                                        @Html.ActionLink(tag.Name, "Tag", new { id = tag.Id }, new { @class = "label label-default", @style="margin-left: 5px;" })
                                    }
                                }
                                else
                                {
                                    <small class="disabled"> Продукта тяма тагове </small>
                                }
                            </div>
                            <hr />
                            <div class="cart-button button-group">
                                <button type="button" title="Wishlist" class="btn btn-wishlist">
                                    <i class="fa fa-heart"></i>
                                </button>
                                <button type="button" title="Compare" class="btn btn-compare">
                                    <i class="fa fa-bar-chart-o"></i>
                                </button>
                                <button type="button" class="btn btn-cart">
                                    Поръчай
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Available Options Ends -->
                        <hr />
                    </div>
                    <!-- Right Ends -->
                </div>
                <!-- product Info Ends -->
                <!-- Additional Information Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Допълнителна информация</h4>
                    <div class="content panel-smart">
                        @Html.Raw(theProduct.LongDescription)
                        @*<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година, когато неизвестен печатар взема няколко печатарски букви и ги разбърква, за да напечата с тях книга с примерни шрифтове. Този начин не само е оцелял повече от 5 века, но е навлязъл и в публикуването на електронни издания като е запазен почти без промяна. Популяризиран е през 60те години на 20ти век</p>
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="margin: 10px 0 0 10px;">Едноверижен сапан - технически характеристики</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-hover ">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Column heading</th>
                                            <th>Column heading</th>
                                            <th>Column heading</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="info">
                                            <td>3</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="success">
                                            <td>4</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="danger">
                                            <td>5</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>6</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="active">
                                            <td>7</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                        </div>*@
                    </div>
                </div>
                <!-- Additional Information Ends -->
                <!-- Related Products Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Подобни продукти</h4>
                    <!-- Products Row Starts -->
                    <div class="row">
                        @Html.Partial("Home/_Products", Model.SimilarProducts)
                    </div>
                    <!-- Products Row Ends -->
                </div>
                <!-- Related Products Ends -->
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <!-- Categories Links Starts -->
                @if (ViewBag.LayoutModel.Categories != null)
                {
                    @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
                }
                <!-- Categories Links Ends -->
                <!-- Bestsellers Links Starts -->
                <h3 class="side-heading">Най-продавани</h3>
                <div class="product-col">
                    <div class="image">
                        <img src="~/Content/images/products/hook-1.jpg" alt="продукт" class="img-responsive" />
                    </div>
                    <div class="caption">
                        <h4>
                            <a href="product-full.html">Сапан с 2 куки Ф 20</a>
                        </h4>
                        <div class="description">
                            Описание на сапана и някаква допълнителна информация
                        </div>
                        <div class="price">
                            <span class="price-new">$199.50</span>
                            <span class="price-old">$249.50</span>
                        </div>
                        <div class="cart-button button-group">
                            <button type="button" title="Wishlist" class="btn btn-wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-cart">
                                Поръчай
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Bestsellers Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->

@section scripts {
    <script src="~/Scripts/lightbox/js/lightbox.min.js"></script>
    <script>
        $(document).ready(function () {

            $("*[data-primary='primary']").css('display', 'block');

            $('.gallery-trigger').on('click', function() {
                var thumbnail = $(this)
                var IdString = thumbnail.attr('id');
                var Id = IdString.split('-').pop();

                $('.product-gallery-box a').css('display', 'none');
                $('#big-thumbnail-' + Id).css('display', 'block');
            })
        })
    </script>
}

@section styles {
<link href="~/Scripts/lightbox/css/lightbox.css" rel="stylesheet" />
    }