@model Application.Web.Models.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
    var theProduct = Model.TheProduct;
}

<div class="container">
    <!-- Main Container Starts -->
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="/">Начало</a></li>
                    <li><a href="/Products">Продукти</a></li>
                    <li><a href="/Products?Category=@theProduct.Category.Id">@theProduct.Category.Name</a></li>
                    <li class="active">@theProduct.Name</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- Product Info Starts -->
                <div class="row product-info">
                    <!-- Left Starts -->
                    <div class="col-sm-5 images-block">
                        <p class="product-gallery-box">
                            @foreach (var thumbnail in @theProduct.Images)
                            {
                                string thumbnailUrl = "/" + thumbnail.ImagePath + "_detailsBigThumb.jpg";
                                string imageUrlBigNext = "/" + thumbnail.ImagePath + "_large.jpg";
                                string isPrimaryString = "";
                                if (thumbnailUrl.Contains("no-image") && @theProduct.Images.Count > 1)
                                {
                                    continue;
                                }
                                if (thumbnail.IsPrimary)
                                {
                                    isPrimaryString = "data-primary=primary";
                                }
                                <a href="@imageUrlBigNext" id="big-thumbnail-@thumbnail.Id" @isPrimaryString data-lightbox="product-images" style="display:none;"  data-title="@theProduct.Name"><img src="@thumbnailUrl" alt="Image" class="img-responsive thumbnail" /></a>
                            }
                        </p>
                        <ul class="list-unstyled list-inline">
                            @foreach (var thumbnail in @theProduct.Images)
                            {
                                string thumbnailUrl = "/" + thumbnail.ImagePath + "_detailsSmallThumb.jpg";
                                if (thumbnailUrl.Contains("no-image") && @theProduct.Images.Count > 1)
                                {
                                    continue;
                                }
                                <li>
                                    <img src="@thumbnailUrl" id="small-thumbnail-@thumbnail.Id" alt="Image" style="width:77px;cursor:pointer;" class="img-responsive thumbnail gallery-trigger" />
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Left Ends -->
                    <!-- Right Starts -->
                    <div class="col-sm-7 product-details">
                        <!-- Product Name Starts -->
                        <h2>@theProduct.Name</h2>
                        <!-- Product Name Ends -->
                        <hr />
                        <!-- Manufacturer Starts -->
                        @Html.Raw(theProduct.BulletsText)
                        @*<ul class="list-unstyled manufacturer">
                            <li>
                                <span class="emptyClassHack">Производител:</span> Metal Company LTD
                            </li>
                            <li><span class="emptyClassHack">Ширина на четката:</span> от 1200 до 2400 мм. (в зависимост от модела)</li>
                            <li><span class="emptyClassHack">Диаметър:</span> 600 мм</li>
                            <li><span class="emptyClassHack">Товароподемност:</span> 2,00 тона (в зависимост от модела)</li>
                            <li><span class="emptyClassHack">Дължина:</span> 2 метра</li>
                            <li><span class="emptyClassHack">Тегло:</span> 5 гр</li>
                            <li>
                                <span class="emptyClassHack">Налични:</span> <strong class="label label-success">На склад</strong>
                            </li>
                        </ul>*@
                        <!-- Manufacturer Ends -->
                        <hr />
                        <!-- Available Options Starts -->
                        <div class="options">
                            <div class="form-group">
                                Тагове:
                                @if (theProduct.Tags.Count > 0)
                                {
                                    foreach (var tag in theProduct.Tags)
                                    {
                                        @Html.ActionLink(tag.Name, "Tag", new { id = tag.Id }, new { @class = "label label-default", @style="margin-left: 5px;" })
                                    }
                                }
                                else
                                {
                                    <small class="disabled"> Продукта тяма тагове </small>
                                }
                            </div>

                            <div class="cart-button button-group print-buttons">
                                <hr />
                                <a href="javascript:window.print()" data-toggle="tooltip" title="Принтирай!" class="btn btn-compare">
                                    <i class="fa fa-print"></i>
                                </a>
                                <button type="button" class="btn btn-cart">
                                    Поръчай
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                            <hr />
                        </div>
                        <!-- Available Options Ends -->

                    </div>
                    <!-- Right Ends -->
                </div>
                <!-- product Info Ends -->
                <!-- Additional Information Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Допълнителна информация</h4>
                    <div class="content panel-smart">
                        @Html.Raw(theProduct.LongDescription)
                    </div>
                </div>
                <!-- Additional Information Ends -->
                <!-- Related Products Starts -->
                <div class="product-info-box print-similarproducts">
                    <h4 class="heading">Подобни продукти</h4>
                    <!-- Products Row Starts -->
                    <div class="row">
                        @Html.Partial("Home/_Products", Model.SimilarProducts)
                    </div>
                    <!-- Products Row Ends -->
                </div>
                <!-- Related Products Ends -->
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3 print-sidebar">
                <!-- Categories Links Starts -->
                @if (ViewBag.LayoutModel.Categories != null)
                {
                    @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
                }
                <!-- Categories Links Ends -->
                <!-- Bestsellers Links Starts -->
                <h3 class="side-heading">Най-продавани</h3>
                <div class="product-col">
                    <div class="image">
                        <img src="~/Content/images/products/hook-1.jpg" alt="продукт" class="img-responsive" />
                    </div>
                    <div class="caption">
                        <h4>
                            <a href="product-full.html">Сапан с 2 куки Ф 20</a>
                        </h4>
                        <div class="description">
                            Описание на сапана и някаква допълнителна информация
                        </div>
                        <div class="price">
                            <span class="price-new">$199.50</span>
                            <span class="price-old">$249.50</span>
                        </div>
                        <div class="cart-button button-group">
                            <button type="button" title="Wishlist" class="btn btn-wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-cart">
                                Поръчай
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Bestsellers Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->

@section scripts {
    <script src="~/Scripts/lightbox/js/lightbox.min.js"></script>
    <script>
        $(document).ready(function () {

            $("*[data-primary='primary']").css('display', 'block');

            $('.gallery-trigger').on('click', function() {
                var thumbnail = $(this)
                var IdString = thumbnail.attr('id');
                var Id = IdString.split('-').pop();

                $('.product-gallery-box a').css('display', 'none');
                $('#big-thumbnail-' + Id).css('display', 'block');
            })
        })
    </script>
}

@section styles {
<link href="~/Scripts/lightbox/css/lightbox.css" rel="stylesheet" />
<link href="~/Content/product-print.css" rel="stylesheet" media="print" />
}