@model Application.Web.Models.ProductDetailsViewModel

@{
    ViewBag.Title = @Model.TheProduct.Name;
    ViewBag.MetaDescription = @Model.TheProduct.ShortDescription;
    var theProduct = Model.TheProduct;
}

<div class="container">
    <!-- Main Container Starts -->
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="/">Начало</a></li>
                    <li><a href="/Products">Продукти</a></li>
                    <li><a href="/Products?Category=@theProduct.Category.Id">@theProduct.Category.Name</a></li>
                    <li class="active">@theProduct.Name</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- Product Info Starts -->
                <div class="row product-info">
                    <!-- Left Starts -->
                    <h4 class="onlyprint">Сайт: http://onlinesapani.com/ <br />Email: manager@onlinesapani.com <br />GSM: 0896 893 295</h4>

                    <div class="col-sm-5 images-block">
                        <p class="product-gallery-box">
                            @foreach (var thumbnail in @theProduct.Images)
                            {
                                string thumbnailUrl = "/" + thumbnail.ImagePath + "_detailsBigThumb.jpg";
                                string imageUrlBigNext = "/" + thumbnail.ImagePath + "_large.jpg";
                                string isPrimaryString = "";
                                if (thumbnailUrl.Contains("no-image") && @theProduct.Images.Count > 1)
                                {
                                    continue;
                                }
                                if (thumbnail.IsPrimary)
                                {
                                    isPrimaryString = "data-primary=primary";
                                }
                                <a href="@imageUrlBigNext" id="big-thumbnail-@thumbnail.Id" @isPrimaryString data-lightbox="product-images" style="display:none;"  data-title="@theProduct.Name"><img src="@thumbnailUrl" alt="Image" class="img-responsive thumbnail" /></a>
                            }
                        </p>
                        <ul class="list-unstyled list-inline">
                            @foreach (var thumbnail in @theProduct.Images)
                            {
                                string thumbnailUrl = "/" + thumbnail.ImagePath + "_detailsSmallThumb.jpg";
                                if (thumbnailUrl.Contains("no-image") && @theProduct.Images.Count > 1)
                                {
                                    continue;
                                }
                                <li>
                                    <img src="@thumbnailUrl" id="small-thumbnail-@thumbnail.Id" alt="Image" style="width:77px;cursor:pointer;" class="img-responsive thumbnail gallery-trigger" />
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Left Ends -->
                    <!-- Right Starts -->
                    <div class="col-sm-7 product-details">
                        <!-- Product Name Starts -->
                        <h2>@theProduct.Name</h2>
                        <!-- Product Name Ends -->
                        <hr />
                        <!-- Manufacturer Starts -->
                        <div class="print-bullets">
                            @Html.Raw(theProduct.BulletsText)
                        </div>
                        
                        @*<ul class="list-unstyled manufacturer">
                            <li>
                                <span class="emptyClassHack">Производител:</span> Metal Company LTD
                            </li>
                            <li><span class="emptyClassHack">Ширина на четката:</span> от 1200 до 2400 мм. (в зависимост от модела)</li>
                            <li><span class="emptyClassHack">Диаметър:</span> 600 мм</li>
                            <li><span class="emptyClassHack">Товароподемност:</span> 2,00 тона (в зависимост от модела)</li>
                            <li><span class="emptyClassHack">Дължина:</span> 2 метра</li>
                            <li><span class="emptyClassHack">Тегло:</span> 5 гр</li>
                            <li>
                                <span class="emptyClassHack">Налични:</span> <strong class="label label-success">На склад</strong>
                            </li>
                        </ul>*@
                        <!-- Manufacturer Ends -->
                        <hr />
                        <!-- Available Options Starts -->
                        <div class="options">
                            <div class="form-group clearfix">
                                <span style="float:left;position: relative; top: -3px;">Етикети:</span>
                                @if (theProduct.Tags.Count > 0)
                                {
                                    foreach (var tag in theProduct.Tags)
                                    {
                                        @Html.ActionLink(tag.Name, "Tag", new { id = tag.Id }, new { @class = "label label-default", @style="margin-left: 5px;float:left;margin-bottom:5px;" })
                                    }
                                }
                                else
                                {
                                    <small class="disabled"> Продукта тяма тагове </small>
                                }
                            </div>

                            <div class="cart-button button-group print-buttons">
                                <hr />
                                    <a href="javascript:window.print()" data-toggle="tooltip" title="Принтирай!" class="btn btn-compare">
                                        <i class="fa fa-print"></i>
                                    </a>

                                    <a data-toggle="modal" href="#request-modal" class="btn btn-cart">
                                        Поискай оферта
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="request-modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Запитване за @theProduct.Name</h4>
                                            </div>
                                            @using (Ajax.BeginForm("SendProductRequest", "Products", null, new AjaxOptions { UpdateTargetId = "modal-request-result", LoadingElementId = "loadingElement" },
                                                                        new { @class = "form-horizontal", @id = "result" }))            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div id="modal-request-result">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-10">
                                                            @Html.EditorFor(m => m.ProductRequestModel.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Име" } })
                                                            @Html.ValidationMessageFor(m => m.ProductRequestModel.Name, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-10">
                                                            @Html.EditorFor(m => m.ProductRequestModel.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                                            @Html.ValidationMessageFor(m => m.ProductRequestModel.Email, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Company, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-10">
                                                            @Html.EditorFor(m => m.ProductRequestModel.Company, new { htmlAttributes = new { @class = "form-control", @placeholder = "Фирма" } })
                                                            @Html.ValidationMessageFor(m => m.ProductRequestModel.Company, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-10">
                                                            @Html.EditorFor(m => m.ProductRequestModel.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Телефон" } })
                                                            @Html.ValidationMessageFor(m => m.ProductRequestModel.Phone, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-10">
                                                            @Html.EditorFor(m => m.ProductRequestModel.Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Съдържание" } })
                                                            @Html.ValidationMessageFor(m => m.ProductRequestModel.Content, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Width, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-8">
                                                            <input id="slider2" class="form-control" type="range" onchange="updateTextInputWidth(this.value);" min="1" max="72" step="1" value="1" />
                                                        </div>
                                                        <div class="col-sm-2"><input type="text" name="ProductRequestModel.Width" class="form-control" style="width: 70px;text-align:center;" id="range-input-width" value=""></div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-8">
                                                            <input id="slider2" class="form-control" type="range" onchange="updateTextInputWeight(this.value);" min="1" max="100" step="1" value="1" />
                                                        </div>
                                                        <div class="col-sm-2"><input type="text" name="ProductRequestModel.Weight" class="form-control" style="width: 70px;text-align:center;" id="range-input-weight" value=""></div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Length, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-8">
                                                            <input id="slider2" class="form-control" type="range" onchange="updateTextInputLenght(this.value);" min="50" max="50000" step="50" value="1" />
                                                        </div>
                                                        <div class="col-sm-2"><input type="text" name="ProductRequestModel.Length" class="form-control" style="width: 70px;text-align:center;" id="range-input-lenght" value=""></div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ProductRequestModel.Count, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-sm-8">
                                                            <input id="slider2" class="form-control" type="range" onchange="updateTextInputCount(this.value);" min="1" max="100" step="1" value="1" />
                                                        </div>
                                                        <div class="col-sm-2"><input type="text" name="ProductRequestModel.Count" class="form-control" style="width: 70px;text-align:center;" id="range-input-count" value=""></div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <img style="display:none;" id="loadingElement" src="~/Content/images/gif-load.gif" />
                                                    <input type="hidden" name="ProductRequestModel.ProductName" value="@theProduct.Name" />
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                                                    <button type="submit" class="btn btn-warning">Изпрати</button>
                                                </div>
                                            </div>}
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Modal End-->
                            </div>
                            <hr />
                        </div>
                        <!-- Available Options Ends -->

                    </div>
                    <!-- Right Ends -->
                </div>
                <!-- product Info Ends -->
                <!-- Additional Information Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Допълнителна информация</h4>
                    <div class="content panel-smart">
                        @Html.Raw(theProduct.LongDescription)
                    </div>
                </div>
                <!-- Additional Information Ends -->
                <!-- Related Products Starts -->
                <div class="product-info-box print-similarproducts">
                    <h4 class="heading">Подобни продукти</h4>
                    <!-- Products Row Starts -->
                    <div class="row">
                        @Html.Partial("Home/_Products", Model.SimilarProducts)
                    </div>
                    <!-- Products Row Ends -->
                </div>
                <!-- Related Products Ends -->
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3 print-sidebar">
                <!-- Categories Links Starts -->
                @if (ViewBag.LayoutModel.Categories != null)
                {
                    @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
                }
                <!-- Categories Links Ends -->
                <!-- Bestsellers Links Starts -->
                <h3 class="side-heading">Популярни Продукти</h3>
                @Html.Partial("_PopularProduct", (Application.Web.Areas.Administration.Models.ViewModels.ProductViewModel)ViewBag.LayoutModel.PopularProduct)
                <!-- Bestsellers Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>
        function updateTextInputWidth(val) {
            document.getElementById('range-input-width').value = val;
        }
        function updateTextInputWeight(val) {
            document.getElementById('range-input-weight').value = val;
        }
        function updateTextInputLenght(val) {
            document.getElementById('range-input-lenght').value = val;
        }
        function updateTextInputCount(val) {
            document.getElementById('range-input-count').value = val;
        }
    </script>


    <script src="~/Scripts/lightbox/js/lightbox.min.js"></script>
    <script>
        $(document).ready(function () {

            $("*[data-primary='primary']").css('display', 'block');

            $('.gallery-trigger').on('click', function() {
                var thumbnail = $(this)
                var IdString = thumbnail.attr('id');
                var Id = IdString.split('-').pop();

                $('.product-gallery-box a').css('display', 'none');
                $('#big-thumbnail-' + Id).css('display', 'block');
            })
        })
    </script>
}

@section styles {
<link href="~/Scripts/lightbox/css/lightbox.css" rel="stylesheet" />
<link href="~/Content/product-print.css" rel="stylesheet" media="print" />
}