@model Application.Web.Models.ProductsViewModel
<div class="container">
    <div class="row">
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li><a href="/">Начало</a></li>
                <li class="active"> <a href="/products">Продукти</a></li>
                @if (Model.Category != null)
                {
                    <li><a href="@Url.Action("Index", new { categoryId = Model.Category.Id, categorySlug = Model.Category.Slug })">@Model.Category.Name</a></li>
                    if (Model.SubCategory != null)
                    {
                        <li class="active">@Model.SubCategory.Name</li>
                    }
                }

            </ol>
            <!-- Breadcrumb Ends -->
            <!-- Main Heading Starts -->
            <h2 class="main-heading2">
                @if (Model.SubCategory != null)
                {
                    @Model.SubCategory.Name
                }
                
                @if (Model.Category != null)
                {
                    if (Model.SubCategory == null)
                    {
                        @Model.Category.Name
                    }
                }
            </h2>
            <!-- Main Heading Ends -->
            <!-- Category Intro Content Starts -->
            <div class="row cat-intro">
                @*<div class="col-sm-3">
                    <img src="images/misc/cat-thumb-img1.jpg" alt="Image" class="img-responsive img-thumbnail" />
                </div>*@
                <div class="col-sm-12 cat-body" style="margin-left:10px;">
                    <p>
                        @if (Model.Category != null)
                        {
                            if (Model.SubCategory != null)
                            {
                                @Html.Raw(Model.SubCategory.Description)
                            }
                            else
                            {
                                @Html.Raw(Model.Category.Description)
                            }
                        }
                        else
                        {
                            <p>Onlinesapani.com е сред най-големите доставчици в страната, които осъществяват дистрибуция на стоманени въжета, сапани, стоманени телове, такелаж и товарозахватни съоръжения,  оградни мрежи. <br/>
Ние ви предоставяме над 1000 продукта, като за всеки един от тях ще откриете точната техническа характеристика за да можете да направите правилния избор.</p>
                        }
                    </p>
                </div>
            </div>
            <!-- Category Intro Content Ends -->
            <!-- Product Filter Starts -->
            <div class="product-filter">
                <div class="row">
                    <a href="@Url.Action("Contact", "Home")#form-anchor" class="btn btn-default col-md-2  pull-right" style="margin: 0 15px 0 15px;"><span class="glyphicon glyphicon-earphone" style="margin-left:-10px;margin-right:5px;"></span> 0896 893 295</a>
                    <a href="@Url.Action("Contact", "Home")#form-anchor" class="btn btn-default col-md-2 pull-right"><span class="glyphicon glyphicon-envelope" style="margin-left:-15px;margin-right:15px;"></span>ЗАПИТВАНЕ</a>
                </div>
            </div>
            <!-- Product Filter Ends -->
            <!-- Product Grid Display Starts -->
            <div class="row">
                @Html.Partial("Home/_Products", Model.Products)
            </div>
            <!-- Product Grid Display Ends -->
        </div>
        <!-- Primary Content Ends -->
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            @if (ViewBag.LayoutModel.Categories != null)
            {
                
                @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories, new ViewDataDictionary { { "activeSubCategoryId", Model.SubCategory != null ? Model.SubCategory.Id : 0 }, { "activeCategoryId", Model.Category != null ? Model.Category.Id : 0 } })
            }
            <!-- Categories Links Ends -->
            <!-- Bestsellers Links Starts -->
            <h3 class="side-heading">Популярни Продукти</h3>
            @Html.Partial("_PopularProduct", (Application.Web.Areas.Administration.Models.ViewModels.ProductViewModel)ViewBag.LayoutModel.PopularProduct)
            <!-- Bestsellers Links Ends -->
        </div>
        <!-- Sidebar Ends -->
    </div>
</div>
<!-- Main Container Ends -->