@model Application.Web.Models.ProductsViewModel

@{
    if (@Model.Category!= null)
    {
        if (@Model.SubCategory != null)
        {
            ViewBag.Title = @Model.SubCategory.Name;
            ViewBag.MetaDescription = @Model.SubCategory.Description;
            //ViewBag.Category = @Model.Category;
            //ViewBag.SubCategory = @Model.SubCategory;
        }
        else
        {
            ViewBag.Title = @Model.Category.Name;
            ViewBag.MetaDescription = @Model.Category.Description;
            //ViewBag.Category = @Model.Category;
        }
    }
    else
    {
        ViewBag.Title = "Продукти";
        ViewBag.MetaDescription = @"Onlinesapani.com е сред най-големите доставчици в страната, които осъществяват дистрибуция на стоманени въжета, сапани, стоманени телове, такелаж и товарозахватни съоръжения, оградни мрежи. 
Ние ви предоставяме над 1000 продукта, като за всеки един от тях ще откриете точната техническа характеристика за да можете да направите правилния избор.";
    }

}

<div class="container">
    <div class="row">
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li><a href="/">Начало</a></li>
                <li class="active"> <a href="/products">Продукти</a></li>
                @if (Model.Category != null)
                {
                    <li><a href="@Url.Action("Index", new { categoryId = Model.Category.Id, categorySlug = Model.Category.Slug })">@Model.Category.Name</a></li>
                    if (Model.SubCategory != null)
                    {
                        <li class="active">@Model.SubCategory.Name</li>
                    }
                }

            </ol>
            <!-- Breadcrumb Ends -->
            <!-- Main Heading Starts -->

            <!-- Main Heading Ends -->
            <!-- Category Intro Content Starts -->
            <div class="dark-container dark-categories">
                <h2 class="main-heading2">

                    @if (Model.Category == null)
                    {
                        @:Продукти
                    }

                    @if (Model.SubCategory != null)
                    {
                        @Model.SubCategory.Name
                    }

                    @if (Model.Category != null)
                    {
                        if (Model.SubCategory == null)
                        {
                            @Model.Category.Name
                        }
                    }
                </h2>
                <div class="row cat-intro">
                    <div class="col-sm-12 cat-body" style="margin-left:10px;">
                        <p>
                            @if (Model.Category != null)
                            {
                                if (Model.SubCategory != null)
                                {
                                    @Html.Raw(Model.SubCategory.Description)
                                }
                                else
                                {
                                    @Html.Raw(Model.Category.Description)
                                }
                            }
                            else
                            {
                            <p style="margin-top:-10px;">
                                Onlinesapani.com е сред най-големите доставчици в страната, които осъществяват дистрибуция на стоманени въжета, сапани, стоманени телове, такелаж и товарозахватни съоръжения,  оградни мрежи. <br />
                                Ние ви предоставяме над 1000 продукта, като за всеки един от тях ще откриете точната техническа характеристика за да можете да направите правилния избор.
                            </p>
                            }
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <a href="@Url.Action("Contact", "Home")#form-anchor" class="btn btn-default col-md-2 pull-right request-button" style="margin: 0 15px 0 15px;"><i class="fa fa-phone" style="margin-left:-5px;margin-right: 8px;"></i> 0896 893 295</a>
                        <a href="@Url.Action("Contact", "Home")#form-anchor" class="btn btn-default col-md-2 pull-right request-button"><i class="fa fa-envelope" style="margin-left:-5px;margin-right: 8px;"></i> ЗАПИТВАНЕ</a>
                    </div>
                </div>
                    <!-- Category Intro Content Ends -->
                    <!-- Product Grid Display Starts -->
                    <div class="row">
                        @Html.Partial("Home/_Products", Model.Products)
                        @*@Html.Partial("_Pagination") -- TODO: I Must Pass the Category and SubCategory from the ViewBag in order to make the Pretty Urls Work.*@
                        @* Also i must check the Route.config file to make the new routes work with pages. *@
                    </div>
                    <!-- Product Grid Display Ends -->
                </div>
        <!-- Primary Content Ends -->
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            @if (ViewBag.LayoutModel.Categories != null)
            {
                
                @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories, new ViewDataDictionary { { "activeSubCategoryId", Model.SubCategory != null ? Model.SubCategory.Id : 0 }, { "activeCategoryId", Model.Category != null ? Model.Category.Id : 0 } })
            }
            <!-- Categories Links Ends -->
            <!-- Bestsellers Links Starts -->
            <h3 class="side-heading">Популярни Продукти</h3>
            @Html.Partial("_PopularProduct", (Application.Web.Areas.Administration.Models.ViewModels.ProductViewModel)ViewBag.LayoutModel.PopularProduct)
            <!-- Bestsellers Links Ends -->
        </div>
        <!-- Sidebar Ends -->
    </div>
</div>
<!-- Main Container Ends -->