@model Application.Web.Models.ProductsViewModel
<div class="container">
    <div class="row">
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li><a href="/">Начало</a></li>
                <li class="active"> <a href="/Products">Продукти</a></li>
                @if (Request.QueryString["Category"] != null)
                {
                    if (ViewBag.LayoutModel.Categories != null)
                    {
                        var categories = (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories;
                        var categoryId = int.Parse(Request.QueryString["Category"]);
                        var activeCategory = categories.First(x => x.Id == categoryId);
                        ViewBag.CategoryName = activeCategory.Name;
                        ViewBag.CategoryDescription = activeCategory.Description;
                        <li><a href="@Url.Action("Index", new { Category = activeCategory.Id })">@activeCategory.Name</a></li>

                        if (Request.QueryString["SubCategory"] != null)
                        {
                            var subCategoryId = int.Parse(Request.QueryString["SubCategory"]);
                            var activeSubCategory = activeCategory.SubCategories.First(x => x.Id == subCategoryId);
                            ViewBag.SubCategoryName = activeSubCategory.Name;
                            ViewBag.SubCategoryDescription = activeSubCategory.Description;
                            <li class="active">@activeSubCategory.Name</li>
                        }
                    }
                }

            </ol>
            <!-- Breadcrumb Ends -->
            <!-- Main Heading Starts -->
            <h2 class="main-heading2">
                @ViewBag.CategoryName
                @if (ViewBag.SubCategoryName != null)
                {
                    <span class="fa fa-angle-right"></span> @ViewBag.SubCategoryName
                }
            </h2>
            <!-- Main Heading Ends -->
            <!-- Category Intro Content Starts -->
            <div class="row cat-intro">
                @*<div class="col-sm-3">
                    <img src="images/misc/cat-thumb-img1.jpg" alt="Image" class="img-responsive img-thumbnail" />
                </div>*@
                <div class="col-sm-12 cat-body" style="margin-left:10px;">
                    <p>
                        @if (ViewBag.CategoryName != null)
                        {
                            if (ViewBag.SubCategoryDescription != null)
                            {
                                @Html.Raw(ViewBag.SubCategoryDescription)
                            }
                            else
                            {
                                @Html.Raw(ViewBag.CategoryDescription)
                            }
                        }
                        else
                        {
                            <p>Общо описание на всички продукти <br/> <small>hint: hardcoded in index view</small></p>
                        }
                    </p>
                </div>
            </div>
            <!-- Category Intro Content Ends -->
            <!-- Product Filter Starts -->
            <div class="product-filter">
                <div class="row">
                    <button class="btn btn-default col-md-2  pull-right" style="margin: 0 15px 0 15px;"><span class="glyphicon glyphicon-earphone" style="margin-left:-10px;margin-right:5px;"></span> 0883 23 84 91</button>
                    <button class="btn btn-default col-md-2 pull-right"><span class="glyphicon glyphicon-envelope" style="margin-left:-15px;margin-right:15px;"></span>ЗАПИТВАНЕ</button>
                </div>
            </div>
            <!-- Product Filter Ends -->
            <!-- Product Grid Display Starts -->
            <div class="row">
                @Html.Partial("Home/_Products", Model.Products)
            </div>
            <!-- Product Grid Display Ends -->
        </div>
        <!-- Primary Content Ends -->
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            @if (ViewBag.LayoutModel.Categories != null)
            {
                @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
            }
            <!-- Categories Links Ends -->
            <!-- Bestsellers Links Starts -->
            <h3 class="side-heading">Най-Продавано</h3>
            <div class="product-col">
                <div class="image">
                    <img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />
                </div>
                <div class="caption">
                    <h4>
                        <a href="product-full.html">Simply Organic Seeds</a>
                    </h4>
                    <div class="description">
                        We are so lucky living in such a wonderful time. Our almost unlimited ...
                    </div>
                    <div class="price">
                        <span class="price-new">$199.50</span>
                        <span class="price-old">$249.50</span>
                    </div>
                    <div class="cart-button button-group">
                        <button type="button" title="Wishlist" class="btn btn-wishlist">
                            <i class="fa fa-heart"></i>
                        </button>
                        <button type="button" title="Compare" class="btn btn-compare">
                            <i class="fa fa-bar-chart-o"></i>
                        </button>
                        <button type="button" class="btn btn-cart">
                            Add to cart
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Bestsellers Links Ends -->
        </div>
        <!-- Sidebar Ends -->
    </div>
</div>
<!-- Main Container Ends -->