@model Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel

@{
    var category = Model;
    var categoryUiId = "category-list-" + category.Id;
    var categorySpanId = "category-span-" + category.Id;
    var categoryDeleteModalHref = "#category-delete-modal-" + category.Id;
    var categoryEditModalHref = "#category-edit-modal-" + category.Id;
    var categoryEditModalId = "category-edit-modal-" + category.Id;
    var categoryDeleteModalId = "category-delete-modal-" + category.Id;
    var subCategoryUiId = "subcategories-list-" + @category.Id;
    var loadingElementId = "loading-element-" + @subCategoryUiId;
    <div class="col-md-4" id="@categoryUiId">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span id="@categorySpanId">@category.Name</span>
                    <a class="btn pull-right fa fa-times" data-toggle="modal" href="@categoryDeleteModalHref" style="margin:-5px -13px 0 0;"></a>
                    <a class="btn pull-right fa fa-file-text" data-toggle="modal" href="@categoryEditModalHref" style="margin:-5px -13px 0 0;"></a>
                </h3>
                <!-- Delete Modal -->
                <div class="modal fade" id="@categoryDeleteModalId">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Моля потвърдете!</h4>
                            </div>
                            <div class="modal-body">
                                <p style="color:black;">Сигурни ли сте, че искате да изтриете <strong>категория "@category.Name"</strong>  ? </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Архивирай</button>
                                @Ajax.ActionLink("Изтрии!", "DeleteCategory", new { id = category.Id },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = categoryUiId,
                            HttpMethod = "Post",
                            LoadingElementId = loadingElementId
                        }, new
                        {
                            @id = categoryUiId + "-delete-btn",
                            @title = "Изтрии",
                            @class = "btn btn-danger deleteBtnConfirm"
                        })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete Modal End-->
                <!-- Edit Modal -->
                <div class="modal fade" id="@categoryEditModalId">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Редактиране на категория:</h4>
                            </div>

                            @using (Ajax.BeginForm("EditCategory",
                                new AjaxOptions
                                {
                                    HttpMethod = "Post",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = categorySpanId,
                                    OnFailure = "CategoryEditFailure"
                                }))
                            {
                                <div class="modal-body">
                                    <label for="categoryName">Име</label>
                                    <input type="text" class="form-control" name="name" id="categoryName" value="@category.Name" /><br />
                                    <label for="categorySlug">Slug</label>
                                    <input type="text" class="form-control" name="Slug" id="categorySlug" value="@category.Slug" /><br />
                                    <label for="DisplayOrder">Позиция</label>
                                    <input type="number" class="form-control" name="DisplayOrder" id="DisplayOrder" value="@category.DisplayOrder" placeholder="№" /><br />
                                    <label for="categoryDescription">Описание</label>
                                    @Html.AntiForgeryToken()
                                    <textarea class="form-control" name="description" id="categoryDescription" placeholder="Описание на категорията">@category.Description</textarea>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                                    @Html.Hidden("Id", category.Id)
                                    <input type="submit" class="btn btn-primary" id="category-submit-btn" value="Запиши" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- Edit Modal End-->
            </div>
            <div class="panel-body">
                <ul class="list-group" id="@subCategoryUiId">
                    @for (int j = 0; j < category.SubCategories.Count(); j++)
                    {
                        var subcategory = category.SubCategories.ElementAt(j);
                        Html.RenderPartial("_SubCategoryPartial", subcategory);
                    }
                    <li id="@loadingElementId" class="list-group-item text-center" style="display:none;">
                        <img src="~/Content/images/gif-load.gif" />
                    </li>
                </ul>
                @using (Ajax.BeginForm("PostSubCategory",
                            new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.InsertAfter,
                                UpdateTargetId = subCategoryUiId,
                                OnFailure = "subCategoryPostFailure",
                                LoadingElementId = loadingElementId
                            }))
                {
                    @Html.Hidden("CategoryId", category.Id)
                    @Html.AntiForgeryToken()
                    <input type="text" name="name" id="subcategoryInput" placeholder=" Подкатегория" class="form-control" />
                    <input type="hidden" name="Slug" value="SomeValueToPassModelValidation" />
                    <textarea name="description" placeholder=" Кратко описание на категорията" class="form-control" style="margin-top:10px;"></textarea>
                    <input type="submit" class="btn btn-success" value="Добави Подкатегория" style="margin-top:10px;" />
                }
            </div>
        </div>
    </div>
    if (category.LoopCounter > 0 && (category.LoopCounter + 1) % 3 == 0)
    {
        @:</div>
        @:<div class="row">
    }
}
