@model Application.Web.Areas.Administration.InputModels.CreateProductInputModel

@using (Html.BeginForm((string)ViewBag.FormMode, "Products", FormMethod.Post, new { @class = "form-horizontal" }))
{
    var columnWidth = 7;
    if (ViewBag.FormMode == "Edit")
    {
        columnWidth = 7;
    }
    else
    {
        columnWidth = 12;
    }
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

    <h2 class="main-heading text-center">
        @ViewBag.Title <br />
    </h2>
    <hr />
    <section class="registration-area">
        <div class="row">
            <div class="col-sm-@columnWidth">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Задължителни данни за продукта</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Име" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.SelectedCategoryId, new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.SelectedCategoryId)
                                    @Html.DropDownListFor(model => model.SelectedCategoryId, Model.Categories, " -- Избери Категория --", new { @id = "categories-dropdown", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.LabelFor(model => model.SelectedSubCategoriesIds, new { @class = "control-label", @style="margin-left:15px;" }) <br />
                                        @Html.ValidationMessageFor(model => model.SelectedSubCategoriesIds)
                                            <div id="subCategories-box" @if (@ViewBag.FormMode == "Create")
	                                            {
		                                             @: style="display:none;"
	                                            }>
                                                <div class="col-md-4">
                                                    @{
                                                    int count = 0;
                                                    string isChecked = "";
                                                    foreach (var availableSubCategory in Model.AvailableSubCategories)
                                                    {
                                                        if (Model.SelectedSubCategoriesIds != null && Model.SelectedSubCategoriesIds.Contains(availableSubCategory.Id))
                                                        {
                                                            isChecked = "checked=checked";
                                                        }
                                                        if (count > 0 && (count + 1) % 4 == 0)
                                                        {
                                                                                            @:</div>
                                                                                            @:<div class="col-md-4">
                                                                                                }
                                                                                                <input name="SelectedSubCategoriesIds" id="Dynamic @count" @isChecked type="checkbox" value="@availableSubCategory.Id" /> <label for="Dynamic @count"> @availableSubCategory.Name</label><br />
                                                        count++;
                                                        isChecked = "";
                                                    }
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.ShortDescription, new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.ShortDescription)
                                    @Html.EditorFor(model => model.ShortDescription)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.BulletsText, new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.BulletsText)
                                    @Html.EditorFor(model => model.BulletsText)
                                </div>
                            </div>
                            <h3 class="panel-heading inner">
                                Допълнителни данни
                            </h3>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.LongDescription, new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.LongDescription)
                                    @Html.EditorFor(model => model.LongDescription)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.Tags, new { @class = "control-label" })
                                    <ul id="myTags">
                                        <!-- Existing list items will be pre-added to the tags via Ajax Call -->
                                        @if (Model.Tags.Count > 0)
                                        {
                                            foreach (var tag in Model.Tags)
                                            {
                                                <li>@tag</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.IsActive)
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.IsFeatured, new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.IsFeatured)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-warning">
                                        @ViewBag.FormModeText
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @if (ViewBag.FormMode == "Edit")
            {
                <div class="col-sm-5">
                    <!-- Guest Checkout Panel Starts -->
                    <div class="panel panel-smart">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Добави Снимки
                            </h3>
                        </div>
                        <div class="panel-body">
                            @if (Model.Images != null && Model.Images.Count() > 0)
                            {
                                foreach (var image in Model.Images.OrderByDescending(x => x.DateAdded))
                                {
                                    var imageSrc = "../../../" + @image.ImagePath + "_detailsSmallThumb." + @image.ImageExtension;
                                    <img src="@imageSrc" class="product-image-thumbnail-admin" />
                                    <div class="thumbnail-hover">
                                        <a href="#" class="glyphicon glyphicon-arrow-up"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Направи картинката ГЛАВНА!"></a>
                                        <a href="#" class="fa fa-times"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Изтрии картинката!"></a>
                                    </div>
                                }
                                <div class="clearfix"></div>
                                <hr />
                            }
                            else
                            {
                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <p>
                                        Продукта все още няма добавени никакви снимки!<br />
                                        Използвай <strong>формата</strong> отдолу за да добавиш
                                    </p>
                                </div>
                            }
                            @using (Html.BeginForm("Upload", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary()

                                <div class="form-field">
                                    <p>Избери снимки:</p>
                                    <div class="upload-container">
                                        <div class="upload">
                                            <input type="file" name="files" id="file1" />
                                            <img src="@Url.Content("~/Content/images/delete.png")" alt="Remove picture." />
                                            <input type="hidden" name="ProductId" value="@Model.Id" />
                                            <input type="hidden" name="CategoryId" value="@Model.SelectedCategoryId" />
                                            @*<input type="hidden" name="SubCategoryId" value="@Model.SelectedSubCategoryId" />*@
                                        </div>
                                    </div>
                                </div>

                                <div class="form-field">
                                    <input type="submit" value="Качи снимките" />
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Guest Checkout Panel Ends -->
                </div>
            }
        </div>
    </section>
		<!-- Registration Section Ends -->
}


