@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new {area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(" Администрация", "Index", "Products", new { area = "Administration" }, new { @class = "fa fa-cog" })
            </li>
            <li>
                @Html.ActionLink("Здравей " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Излез</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav pull-right">
        <li><a href="#" class="fa fa-facebook-square"> Facebook</a></li>
        <li><a href="#" class="fa fa-twitter-square"> Twitter</a></li>
        <li><a href="#" class="fa fa-google-plus-square"> Goolge+</a></li>
        <li>
            @Html.ActionLink(" Регистрация", "Register", "Account", new { area = "" }, new { @class = "fa fa-unlock" })
        </li>
        <li>
            @Html.ActionLink(" Влез", "Login", "Account", new { area = "" }, new { @class = "fa fa-lock" })

        </li>
    </ul>
}</div>
<div class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Administration/Products" class="glyphicon glyphicon-cog" style="font-size:20px;color:white;padding: 15px 15px 0 15px;"></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продукти <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li class="dropdown-header">Стоманени Въжета</li>
                        <li><a href="#">С Общо предназначение</a></li>
                        <li><a href="#">За асансьорни уредби</a></li>
                        <li><a href="#">Невъртящи стоманени въжета</a></li>
                        <li><a href="#">Други</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Сапани</li>
                        <li><a href="#">Сапани от стоманени въжета</a></li>
                        <li><a href="#">Съпани от полиестърна тъкън</a></li>
                        <li><a href="#">Верижни сапани</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Стоманени телове</li>
                        <li><a href="#">Сапани от стоманени въжета</a></li>
                        <li><a href="#">Съпани от полиестърна тъкън</a></li>
                        <li><a href="#">Верижни сапани</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Категории", "Index", "Categories")</li>
                <li>@Html.ActionLink("Статии", "Index", "Articles")</li>
                <li>@Html.ActionLink("Страници", "Index", "Pages")</li>
                <li>@Html.ActionLink("Тагове", "Index", "Tags")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
@Html.Partial("_MessagePartial")
</div>

@RenderBody()
@section scripts
{
    @RenderSection("scripts", required: false)
}

@section styles
{
    @RenderSection("styles", required: false)
}