@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Administration/Products" class="glyphicon glyphicon-cog" style="font-size:20px;color:white;padding: 15px 15px 0 15px;"></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продукти <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li class="dropdown-header">Стоманени Въжета</li>
                        <li><a href="#">С Общо предназначение</a></li>
                        <li><a href="#">За асансьорни уредби</a></li>
                        <li><a href="#">Невъртящи стоманени въжета</a></li>
                        <li><a href="#">Други</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Сапани</li>
                        <li><a href="#">Сапани от стоманени въжета</a></li>
                        <li><a href="#">Съпани от полиестърна тъкън</a></li>
                        <li><a href="#">Верижни сапани</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Стоманени телове</li>
                        <li><a href="#">Сапани от стоманени въжета</a></li>
                        <li><a href="#">Съпани от полиестърна тъкън</a></li>
                        <li><a href="#">Верижни сапани</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Категории", "Index", "Categories")</li>
                <li>@Html.ActionLink("Статии", "Index", "Articles")</li>
                <li>@Html.ActionLink("Страници", "Index", "Pages")</li>
                <li>@Html.ActionLink("Тагове", "Index", "Tags")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
@Html.Partial("_MessagePartial")
</div>

@RenderBody()
@section scripts
{
    @RenderSection("scripts", required: false)
    <script>
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
    
}

@section styles
{
    @RenderSection("styles", required: false)
}